<h3>{{season.name}}</h3>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-2 text-muted"><strong>EPISODE</strong></th>
      <th class="col-md-8 text-muted"><strong>DESCRIPTION</strong></th>
      <th class="col-md-1 text-center text-muted"><strong>AIR DATE</strong></th>
      <th ng-show="followedShow" class="col-md-1 text-center text-muted">WATCHED?</th>
    </tr>
  </thead>
  <tbody class="small">
    <tr ng-repeat="ep in season.episodes" class="episode-details" ng-class="isNextToWatchEpisode(season.season_number, ep.episode_number) ? 'active' : ''">
      <td>
        <strong>{{season.season_number}}x{{ep.episode_number | padding:'0':2}}</strong>
        <br />
        {{ep.name}}
      </td>
      <td>{{ep.overview}}</td>
      <td class="text-center">
        {{ep.air_date | date }}
      </td>
      <td ng-show="followedShow" class="episode-actions text-center">
        <a ng-click="setProgression(season.season_number, ep.episode_number)">
          <span class="text-muted glyphicon glyphicon-eye-open" ng-class="isEpisodeWatched(season.season_number, ep.episode_number) ? 'watched' : ''"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
